#### 1. Dataframe basics

#### 1.1. Import pandas and reffered the package as pd + Load "telecom_churn.csv" and assign in to the variable df <span style= color:#0033cc>(3 points)</span>

In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\נחמי\appdata\local\programs\python\python311\lib\site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\נחמי\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\נחמי\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\נחמי\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\נחמי\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\נחמי\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('telecom_churn.csv')
df

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,No,Yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
3329,WV,68,415,No,No,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
3330,RI,28,510,No,No,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
3331,CT,184,510,Yes,No,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False
3332,TN,74,415,No,Yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

#### 1.2 Return the column labels/names <span style= color:#0033cc>(2 points)</span>

In [4]:
df.columns

Index(['State', 'Account length', 'Area code', 'International plan',
       'Voice mail plan', 'Number vmail messages', 'Total day minutes',
       'Total day calls', 'Total day charge', 'Total eve minutes',
       'Total eve calls', 'Total eve charge', 'Total night minutes',
       'Total night calls', 'Total night charge', 'Total intl minutes',
       'Total intl calls', 'Total intl charge', 'Customer service calls',
       'Churn'],
      dtype='object')

#### 1.3 Print the df shape <span style= color:#0033cc>(3 points)</span>

In [5]:
df.shape

(3333, 20)

 2. What is the total day calls given by state and area code?

#### 2.1 Group the df by state and area code (assign it to grouped variable). <span style= color:#0033cc>(5 points)</span>

In [6]:
grouped_variable = df.groupby(['State', 'Area code'])
grouped_variable

#### 2.2 Use agg with the desired function sum to get the final answer (assign it to telecom_agg variable).<span style= color:#0033cc>(5 points)</span>

In [7]:
x = grouped_variable.agg({'Total day calls': 'sum'}).sum()
x

Total day calls    334752
dtype: int64

#### 2.3 Reset the group by index <span style= color:#0033cc>(3 points)</span>

In [8]:
df.reset_index()

,index,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,...,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,0,KS,128,415,No,Yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,1,OH,107,415,No,Yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,2,NJ,137,415,No,No,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,3,OH,84,408,Yes,No,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,4,OK,75,415,Yes,No,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,3328,AZ,192,415,No,Yes,36,156.2,77,26.55,...,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
3329,3329,WV,68,415,No,No,0,231.1,57,39.29,...,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
3330,3330,RI,28,510,No,No,0,180.8,109,30.74,...,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
3331,3331,CT,184,510,Yes,No,0,213.8,105,36.35,...,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False
3332,3332,TN,74,415,No,Yes,25,234.4,113,39.85,...,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

#### 2.4 Use head function to review the first 10 telecom_agg rows <span style= color:#0033cc>(3 points)</span>

In [10]:
print(df.head(10))

  State  Account length  Area code International plan Voice mail plan  \
0    KS             128        415                 No             Yes
1    OH             107        415                 No             Yes
2    NJ             137        415                 No              No
3    OH              84        408                Yes              No
4    OK              75        415                Yes              No
5    AL             118        510                Yes              No
6    MA             121        510                 No             Yes
7    MO             147        415                Yes              No
8    LA             117        408                 No              No
9    WV             141        415                Yes             Yes

   Number vmail messages  Total day minutes  Total day calls  \
0                     25              265.1              110
1                     26              161.6              123
2                      0              243.4              114
3                      0              299.4               71
4                      0              166.7              113
5                      0              223.4               98
6                     24              218.2               88
7                      0              157.0               79
8                      0              184.5               97
9                     37              258.6               84

   Total day charge  Total eve minutes  Total eve calls  Total eve charge  \
0             45.07              197.4               99             16.78
1             27.47              195.5              103             16.62
2             41.38              121.2              110             10.30
3             50.90               61.9               88              5.26
4             28.34              148.3              122             12.61
5             37.98              220.6              101             18.75
6             37.09              348.5              108             29.62
7             26.69              103.1               94              8.76
8             31.37              351.6               80             29.89
9             43.96              222.0              111             18.87

   Total night minutes  Total night calls  Total night charge  \
0                244.7                 91               11.01
1                254.4                103               11.45
2                162.6                104                7.32
3                196.9                 89                8.86
4                186.9                121                8.41
5                203.9                118                9.18
6                212.6                118                9.57
7                211.8                 96                9.53
8                215.8                 90                9.71
9                326.4                 97               14.69

   Total intl minutes  Total intl calls  Total intl charge  \
0                10.0                 3               2.70
1                13.7                 3               3.70
2                12.2                 5               3.29
3                 6.6                 7               1.78
4                10.1                 3               2.73
5                 6.3                 6               1.70
6                 7.5                 7               2.03
7                 7.1                 6               1.92
8                 8.7                 4               2.35
9                11.2                 5               3.02

   Customer service calls  Churn
0                       1  False
1                       1  False
2                       0  False
3                       2  False
4                       3  False
5                       0  False
6                       3  False
7                       0  False
8                       1  False
9                       0  False

#### 3. Users Churn rate

#### 3.1 Change "Churn" column type to an integer: <span style= color:#0033cc>(3 points)</span>

In [17]:
df.Churn = df.Churn.replace({True: 1, False: 0})
df.dtypes

State                      object
Account length              int64
Area code                   int64
International plan         object
Voice mail plan            object
Number vmail messages       int64
Total day minutes         float64
Total day calls             int64
Total day charge          float64
Total eve minutes         float64
Total eve calls             int64
Total eve charge          float64
Total night minutes       float64
Total night calls           int64
Total night charge        float64
Total intl minutes        float64
Total intl calls            int64
Total intl charge         float64
Customer service calls      int64
Churn                       int64
dtype: object

#### 3.2 what is the users "churn rate" in our dataframe? <span style= color:#0033cc>(5 points)</span>
Hint: the churn rate formula can be calculated as the "number of churned" divided by the "total number of customers".

In [22]:
churned_count = df['Churn'].shape[0]
total_customers = df.shape[0]
churn_rate = churned_count / total_customers
print(churn_rate)

1.0

#### 3.3  How the charn rate can affect on the company? <span style= color:#0033cc>(3 points)</span>

קצב העזיבה משפיע על החברה באופן ישיר על ההכנסה, הרווחיות, ואמינותה בעיני השוק.

#### 3.4 How much time (on average) do churned users spend on the phone during daytime? <span style= color:#0033cc>(5 points)</span>
Hint: filter churn column when the value of churn equal to 1

In [34]:
churned_users = df[df['Churn'] == 1]
churned_users['Total day minutes'].mean()

179.77509750975094

#### 3.5 What is the maximum length of international calls among loyal users who do not have an international plan? ('International plan' == 'No') <span style= color:#0033cc>(5 points)</span>
Hint: 2 filters conditions,churn equal to 0 and international plan equal to no

In [40]:
max_intl_calls = df[(df['Churn'] == 0) & (df['International plan'] == 'No')]['Total intl minutes'].max()
max_intl_calls

nan

#### 4. Select top 3 international plan subscribers and non subscribers with the most intl calls

#### 4.1. Build a function top which attributes df, n (for the top n) and column. In this function use sort_values to sort the values in the column specified. <span style= color:#0033cc>(10 points)</span>
Note: Do not apply the function on the whole data frame (e.i. top(df, n=3)) as the output will be the top 3 regardless of subscribers and non-subscribers.

In [41]:
def top(df, n, column):
    return df.sort_values(by = column, ascending=False).head(n)
top(df , 3 , 'Total night calls')

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
493,RI,129,415,No,Yes,33,119.6,104,20.33,278.7,88,23.69,263.4,175,11.85,5.9,2,1.59,2,1
2288,NE,34,415,No,No,0,193.7,74,32.93,126.9,84,10.79,221.2,166,9.95,8.8,4,2.38,0,1
3211,ID,103,415,No,No,0,70.9,134,12.05,134.5,112,11.43,168.8,164,7.60,12.0,6,3.24,2,1

#### 4.2. Group the df dataframe by 'International plan' and use apply(top) to apply this function. <span style= color:#0033cc>(5 points)</span>

In [44]:
df.groupby('International plan').apply(top, n=2, column='Total intl minutes')

C:\Users\נחמי\AppData\Local\Temp\ipykernel_21452\3994923909.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df.groupby('International plan').apply(top, n=2, column='Total intl minutes')

                        State  Account length  Area code International plan  \
International plan
No                 314     ID             128        408                 No
                   1816    OR              53        415                 No
Yes                115     ME              36        510                Yes
                   1420    MI              81        415                Yes

                        Voice mail plan  Number vmail messages  \
International plan
No                 314               No                      0
                   1816              No                      0
Yes                115              Yes                     42
                   1420              No                      0

                         Total day minutes  Total day calls  Total day charge  \
International plan
No                 314               125.2               99             21.28
                   1816              184.8               98             31.42
Yes                115               196.8               89             33.46
                   1420              149.4               68             25.40

                         Total eve minutes  Total eve calls  Total eve charge  \
International plan
No                 314               205.4              107             17.46
                   1816              216.4              125             18.39
Yes                115               254.9              122             21.67
                   1420              171.9               98             14.61

                         Total night minutes  Total night calls  \
International plan
No                 314                 254.4                111
                   1816                141.1                116
Yes                115                 138.3                126
                   1420                214.5                 97

                         Total night charge  Total intl minutes  \
International plan
No                 314                11.45                18.9
                   1816                6.35                18.4
Yes                115                 6.22                20.0
                   1420                9.65                17.9

                         Total intl calls  Total intl charge  \
International plan
No                 314                  2               5.10
                   1816                 3               4.97
Yes                115                  6               5.40
                   1420                 3               4.83

                         Customer service calls  Churn
International plan
No                 314                        0      1
                   1816                       2      1
Yes                115                        0      1
                   1420                       3      1

#### 5. pd.crosstab

#### 5.1 how the observations in our sample are normalized (divide each value by the sum of the values) in the context of two variables - Churn and Voice mail plan. To do so, build a contingency table using the crosstab method. <span style= color:#0033cc>(6 points)</span>
Hint: To normalize using all values, simply set normalize=True

In [49]:
pd.crosstab(df["Churn"],df["Voice mail plan"], normalize=True)

Voice mail plan        No       Yes
Churn
1                0.723372  0.276628

#### 5.2 What is the conclustion of most of users regarding voice mail usage? <span style= color:#0033cc>(4 points)</span>

רוב המשתמשים משתמשים בשירות התיבת הדואר הקולי.

#### 6. Columns calculations

#### 6.1 Add a column name 'total_charge', and get the total charge by sum all the charge columns <span style= color:#0033cc>(7 points)</span>

In [51]:
df['total_charge'] = df[['Total day charge', 'Total eve charge', 'Total night charge', 'Total intl charge']].sum(axis=1)
df

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,total_charge
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,...,16.78,244.7,91,11.01,10.0,3,2.70,1,1,75.56
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,...,16.62,254.4,103,11.45,13.7,3,3.70,1,1,59.24
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,...,10.30,162.6,104,7.32,12.2,5,3.29,0,1,62.29
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,...,5.26,196.9,89,8.86,6.6,7,1.78,2,1,66.80
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,...,12.61,186.9,121,8.41,10.1,3,2.73,3,1,52.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,No,Yes,36,156.2,77,26.55,215.5,...,18.32,279.1,83,12.56,9.9,6,2.67,2,1,60.10
3329,WV,68,415,No,No,0,231.1,57,39.29,153.4,...,13.04,191.3,123,8.61,9.6,4,2.59,3,1,63.53
3330,RI,28,510,No,No,0,180.8,109,30.74,288.8,...,24.55,191.9,91,8.64,14.1,6,3.81,2,1,67.74
3331,CT,184,510,Yes,No,0,213.8,105,36.35,159.6,...,13.57,139.2,137,6.26,5.0,10,1.35,2,1,57.53
3332,TN,74,415,No,Yes,25,234.4,113,39.85,265.9,...,22.60,241.4,77,10.86,13.7,4,3.70,0,1,77.01

####  6.2 Add a column name 'Day_charge_pct', and get day charge precentage of total charge by dividing the column 'Total day charge' by the column 'total_charge'. <span style= color:#0033cc>(7 points)</span>

In [55]:
df['Day_charge_pct'] = df['Total day charge']/df['total_charge']
df

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,total_charge,Day_charge_pct
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,...,244.7,91,11.01,10.0,3,2.70,1,1,75.56,0.596480
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,...,254.4,103,11.45,13.7,3,3.70,1,1,59.24,0.463707
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,...,162.6,104,7.32,12.2,5,3.29,0,1,62.29,0.664312
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,...,196.9,89,8.86,6.6,7,1.78,2,1,66.80,0.761976
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,...,186.9,121,8.41,10.1,3,2.73,3,1,52.09,0.544058
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,No,Yes,36,156.2,77,26.55,215.5,...,279.1,83,12.56,9.9,6,2.67,2,1,60.10,0.441764
3329,WV,68,415,No,No,0,231.1,57,39.29,153.4,...,191.3,123,8.61,9.6,4,2.59,3,1,63.53,0.618448
3330,RI,28,510,No,No,0,180.8,109,30.74,288.8,...,191.9,91,8.64,14.1,6,3.81,2,1,67.74,0.453794
3331,CT,184,510,Yes,No,0,213.8,105,36.35,159.6,...,139.2,137,6.26,5.0,10,1.35,2,1,57.53,0.631844
3332,TN,74,415,No,Yes,25,234.4,113,39.85,265.9,...,241.4,77,10.86,13.7,4,3.70,0,1,77.01,0.517465

#### 7. Day charge percentage and state visualization

#### 7.1 Import matplotlib.pyplot and referred the package as plt <span style= color:#0033cc>(2 points)</span>

In [57]:
import matplotlib.pyplot as plt

#### 7.2 create new string list with the name 'my_color' that contains the following colors names: red,green,orange,blue,yellow <span style= color:#0033cc>(4 points)</span>

In [59]:
my_color = ['red','green','orange','blue','yellow']

#### 7.3 Bar chart plot <span style= color:#0033cc>(10 points)</span>

1.Select first 5 rows of the dataframe (use df.iloc[])

2.Use <span style= color:blue>df.plot</span> function with kind='bar' and x='State' and y='Day_charge_pct' and color = my_colors to make a simple bar chart plot (of the day chart %).

3.Use <span style= color:blue>plt.xlabel("State Code")</span> and <span style= color:blue>plt.ylabel("Day Charge %")</span> to label the corresponding axes

In [ ]:
df_first_5 = df.iloc[:5]
df_first_5.plot(kind='bar',x='State' , y='Day_charge_pct' , color = my_colors )
plt.xlable()